# IDE
.idea/

# Environment variables
.env

# Dependencies
node_modules/
medimind-backend/node_modules/

# Python
__pycache__/
*.pyc

# Build outputs
android/
dist/
.expo/

# ML model
medimind-backend/careplan_model/

# Database files
*.frm
*.ibd
*.opt
db.opt

# OS files
.DS_Store
.DS_Store?
Thumbs.db